* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.bg-container {
  background-color: #f1f5f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.heading {
  color: #2d3a35;
  font-family: 'roboto';
}
.count {
  color: #c20a72;
}
.paragraph {
  color: #2d3a35;
  font-family: 'roboto';
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  border-radius: 2px;
  border-width: 0px;
  color: #ffffff;
  background-color: #007bff;
  padding: 12px;
}
